<li class="menu text-left">

	{{#unless devoured}}
	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devoured}}">
		DEVOUR IT! <i class="fas fa-utensils"></i>
	</button>
	{{/unless}}

	{{burger_name}}
</li>